.UserHead {
    padding: 15px;
    width: 100%;
    height: 65px;
    background-color: rgb(245, 245, 245);
    -webkit-box-shadow: rgba(128, 128, 128, 0.5) 8px 8px 30px;
    box-shadow: rgba(128, 128, 128, 0.5) 8px 8px 30px;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.UserHead .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.UserHead .userInfo {
    margin-right: 10px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.UserHead .userInfo .imgBox {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.UserHead .userInfo .userName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 4px;
    margin-right: 10px;
}

.UserHead .userInfo .userName button {
    border: none;
    background-color: rgb(245, 245, 245);
}

.UserHead .userInfo .userName .more {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}