.loginPage {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage .login-box {
    width: 450px;
    height: 450px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    animation: login-box-appear 1s linear forwards;
    opacity: 0.95;
}

@keyframes login-box-appear {
    0% {
        transform: rotate(0deg) scale(0.1, 0.1);
        border-radius: 50%;
    }

    60% {
        transform: rotate(0deg) scale(1, 1);
        border-radius: 25px;
    }

    65% {
        transform: rotate(5deg);
        border-radius: 25px;
    }

    75% {
        width: 500px;
        height: 500px;
        transform: rotate(-5deg);
        border-radius: 25px;
    }

    85% {
        width: 500px;
        height: 500px;
        transform: rotate(5deg);
        border-radius: 25px;
    }

    95% {
        width: 500px;
        height: 500px;
        transform: rotate(-5deg);
        border-radius: 25px;
    }

    100% {
        width: 500px;
        height: 500px;
        transform: rotate(0deg);
        border-radius: 25px;
    }
}

.loginPage .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.loginPage .title {
    font-size: 3em;
}

.loginPage .option {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPage .option .text {
    width: 65px;
    /* text-align: right; */
    line-height: normal;
}

.loginPage .button-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}