.homePage {
    margin: 0;
    padding: 85px 0 0 0;
    width: 100%;
    height: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.homePage .page-box {
    width: 90%;
    height: 100%;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(128, 128, 128, 0.5) 8px 8px 100px;
    box-shadow: rgba(128, 128, 128, 0.5) 8px 8px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.homePage .page-body {
    padding: 20px;
    width: 100%;
}