.ReactLogo {
    text-align: center;
    user-select: none;
}

.ReactLogo .App-logo {
    height: 15vmin;
    pointer-events: none;
}

.ReactLogo .small {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

    /* .ReactLogo .App-logo { */
    .ReactLogo .animation {
        animation: App-logo-spin infinite 20s linear;
    }
}

.ReactLogo .App-header {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}