.Piece {
    padding: 0;
    margin: 0;
    user-select: none;
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
    background-color: rgb(243, 220, 88);
    cursor: pointer;
}

.Piece .piece {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Piece .Black {
    background-color: #000000;
}

.Piece .White {
    background-color: #ffffff;
}